body{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(112,237,128);
  background: linear-gradient(270deg, rgba(112,237,128,1) 42%, rgba(0,175,250,1) 88%);
  color: white;
  font-size:20px;
}